<%- include("header") -%>
<h2>This is the about page</h2>

<p>dhsjkahkfbnkjsadn kjsahd kjahjk bsak hkjsan kjsah skdjho asj nsakj hoisahfkj hiuewqh fjkhebcjklnoi qaewn kc </p>

<%- include("footer") -%>